<ion-header>
  <ion-toolbar>
    <ion-title>{{nomePagina}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)=pacienteSingleton.limparCampos($event)>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formValidator">
    <ion-list>
      <ion-item>
        <ion-label floating>Peso</ion-label>
        <ion-input formControlName="peso" [(ngModel)]="pacienteSingleton.pesoEstimado" type="number"></ion-input>
        <button ion-button item-end icon-only clear tooltip="Informe o peso do paciente(kg)" positionV="bottom"
                positionH="right"
                arrow>
          <ion-icon name="help"></ion-icon>
        </button>
      </ion-item>
      <ion-item *ngIf="!formValidator.controls.peso.valid && calculoRealizado">
        <p style="color:red;">Informe um peso válido</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Altura</ion-label>
        <ion-input formControlName="altura" step="0.01" type="number"
                   [(ngModel)]="pacienteSingleton.alturaEstimada"></ion-input>
        <button ion-button item-end icon-only clear tooltip="Informe a altura do paciente(m)" positionV="bottom"
                positionH="right"
                arrow>
          <ion-icon name="help"></ion-icon>
        </button>
      </ion-item>
      <ion-item *ngIf="!formValidator.controls.altura.valid && calculoRealizado">
        <p style="color:red;">Informe uma altura válida</p>
      </ion-item>
    </ion-list>
  </form>
  <button ion-button block icon-left (click)=calcularIMC($event)>
    <ion-icon name="calculator"></ion-icon>
    {{tituloBotao}}
  </button>
  <ion-card>
    <ion-card-header>
      IMC
    </ion-card-header>
    <ion-card-content>
      O IMC deste paciente é:
      <br>
      <h3>{{pacienteSingleton.imcPaciente}}</h3>
    </ion-card-content>
  </ion-card>
  <br>

  <ion-grid>
    <ion-row flex-wrap:nowrap justify-content:center>
      <ion-col col-12 align-self: center>
        TABELA IMC
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <b>IMC</b>
      </ion-col>
      <ion-col>
        <b>Estado Nutricional</b>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let tab of tabelaIMC">
      <ion-col>{{tab.faixaIMC}}
      </ion-col>
      <ion-col>{{tab.estadoNutricional}}</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
