.list-header {
  padding-left: 16px;
  min-height: 4.5rem;
  border-bottom: 1px solid #dedede;
  border-top: 0px;
  font-size: 1.5rem;
  color: #757575;
}

.list {
  border-bottom: 1px solid #dedede;
}

.card-header {
  font-weight: bold;
}

.list-header {
  font-weight: bold;
}

.col {
  border-bottom: 1px solid gray;
  text-align: center;
}

.item-button {
  margin-top: auto;
  height: 100%;
}

.card {
  width: 100%;
  margin: 0px;
  margin-top: 10px;
  margin-bottom: auto;
}

ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 1em;
    height: 1em;
  }

  &[class*="custom-weight"] {
    mask-image: url(../assets/weight.svg);
  }

  &[class*="custom-measuring-tape"] {
    mask-image: url(../assets/measuring-tape.svg);
  }
}
