<ion-header>
  <ion-toolbar>
    <ion-title>{{nomePagina}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)=pacienteSingleton.limparCampos($event)>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only color="royal" (click)=presentActionSheet($event)>
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="formValidator">
    <ion-list radio-group formControlName="sexo" [(ngModel)]="pacienteSingleton.sexo">
      <ion-item-divider>
        Sexo
        <button ion-button item-end icon-only clear tooltip="Informe o Sexo do Paciente" positionV="bottom"
                positionH="right">
          <ion-icon name="help"></ion-icon>
        </button>
      </ion-item-divider>
      <ion-item>
        <ion-label>Masculino</ion-label>
        <ion-radio value="Masculino"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Feminino</ion-label>
        <ion-radio value="Feminino"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item *ngIf="!formValidator.controls.sexo.valid && calculoRealizado">
      <p style="color:red;">Selecione um sexo</p>
    </ion-item>

    <ion-list required radio-group formControlName="raca" [(ngModel)]="pacienteSingleton.raca">
      <ion-item-divider>
        Raça
        <button ion-button item-end icon-only clear tooltip="Informe a Raça do Paciente" positionV="bottom"
                positionH="right">
          <ion-icon name="help"></ion-icon>
        </button>
      </ion-item-divider>
      <ion-item>
        <ion-label>Branco</ion-label>
        <ion-radio value="Branco"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Negro</ion-label>
        <ion-radio value="Negro"></ion-radio>
      </ion-item>
    </ion-list>
    <ion-item *ngIf="!formValidator.controls.raca.valid && calculoRealizado">
      <p style="color:red;">Selecione uma Raça</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Idade</ion-label>
      <ion-input formControlName="idade" [(ngModel)]="pacienteSingleton.idade" type="number"></ion-input>
      <button ion-button item-end icon-only clear tooltip="Informe a idade do paciente" positionV="bottom"
              positionH="right" arrow>
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngIf="!formValidator.controls.idade.valid && calculoRealizado">
      <p style="color:red;">Informe uma idade válida.</p>
    </ion-item>

    <ion-item>
      <ion-label floating>Comprimento Perna</ion-label>
      <ion-input formControlName="compPerna" type="number" [(ngModel)]="pacienteSingleton.comprimentoPerna"></ion-input>
      <button ion-button item-end icon-only clear tooltip="Informe o comprimento da perna(cm)" positionV="bottom"
              positionH="right"
              arrow>
        <ion-icon name="help"></ion-icon>
      </button>
    </ion-item>
    <ion-item *ngIf="!formValidator.controls.compPerna.valid && calculoRealizado">
      <p style="color:red;">Informe um comprimento válido.</p>
    </ion-item>
  </form>
  <button ion-button block icon-left (click)=calcularAlturaEstimada($event)>
    <ion-icon name="calculator"></ion-icon>
    {{tituloBotao}}
  </button>

  <ion-card>
    <ion-card-header>
      Altura estimada
    </ion-card-header>
    <ion-card-content>
      A altura estimada deste paciente é:
      <br>
      <h3>{{pacienteSingleton.alturaEstimada}}m</h3>
    </ion-card-content>
    <button ion-button color="secondary" block (click)=proximaAba($event)>Peso Estimado</button>
  </ion-card>
</ion-content>
